@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');



/* CONFIGURACIÓN GENERAL DE NAVBAR */
#NavbarTitle{
    font-family: 'Amita', cursive;
}



#colorHeader{
    background-color: #260F01;
}

@media all and (max-width: 767px){
    .bannerNotasenPapel{
        height: 250px;
        object-fit: cover;
    }
}

/* DATOS PARA INDEX - CARRITO */

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ACERCA DE NOSOTROS */

.acercadeNosBody{
    background-color : grey;
    background-image : url('../img/pexels-ylanite-koppens-934067.jpg');
    background-size: 150%;
}

.About-us {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color : #f2dcc2ab;
  }

  .About-us2{
    background-color: beige;
  }

  #acercaH1{
    color: black;
    font-size: 35px;
    background-color : #f2dcc2ab;
  }
  #team {
    border-radius: 50%;
  }
  
  p {
    font-size: 18px;
  } 
 


  /* FIN DE ACERCA DE NOSOTROS */
  

   /* LOGIN */
   .loginBody{
    background-color : grey;
    background-image : url('../img/pexels-ylanite-koppens-934067.jpg');
    background-size: 150%;
}

    .loginForm{
        background-color : #f2dcc2ab;
    }

    .titleLogin{
        background-color : #f2dcc2ab;
    }
    

    /* FIN DE LOGIN */
  