@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');



/* CONFIGURACIÓN GENERAL DE NAVBAR */
#NavbarTitle{
    font-family: 'Amita', cursive;
}



#colorHeader{
    background-color: #260F01;
}

@media all and (max-width: 767px){
    .bannerNotasenPapel{
        height: 250px;
        object-fit: cover;
    }
}

/* DATOS PARA INDEX - CARRITO */

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* ACERCA DE NOSOTROS */
.About-us {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .About-us2 {
    width: 100%;
    text-align: center;
    background-color: #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  #acercaH1{
    color: black;
    font-size: 35px;
  }
  #team {
    border-radius: 50%;
  }
  
  p {
    font-size: 18px;
  } 
 


  /* FIN DE ACERCA DE NOSOTROS */
  

   /* LOGIN */


    /* FIN DE LOGIN */
  